@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(135deg, white, #fff5f5);
}

.container-wrapper .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 850px) {
  .container-wrapper .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container-wrapper .container .logo {
  position: absolute;
  top: 3em;
  left: 10%;
}

.container-wrapper .container > div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container-wrapper .container .right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: calc(6em + 33px);
}

@media screen and (min-width: 850px) {
  .container-wrapper .container .right img {
    margin-top: 0;
    height: 100vh;
  }
}

.container-wrapper .container .left {
  padding: 0 5%;
}

@media screen and (min-width: 850px) {
  .container-wrapper .container .left {
    padding: 10em 10%;
  }
}

.container-wrapper .container .left h1 {
  margin-top: 2em;
  font-size: 8vw;
  text-align: center;
  color: #413a3a;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 850px) {
  .container-wrapper .container .left h1 {
    text-align: left;
    font-size: 4.5rem;
  }
}

.container-wrapper .container .left h1 span {
  line-height: 100%;
  display: block;
  font-weight: 300;
  color: #ce9797;
}

.container-wrapper .container .left p {
  padding: 2em 0 3em;
  color: #ce9797;
  line-height: 200%;
  max-width: 600px;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .container-wrapper .container .left p {
    text-align: left;
  }
}

.container-wrapper .container .left p#error-message {
  text-align: left;
  padding: 1em 2em;
  opacity: 0;
}

.container-wrapper .container .left p#error-message.error {
  opacity: 1;
}

.container-wrapper .container .left .input-wrapper {
  max-width: 500px;
  position: relative;
}

.container-wrapper .container .left .input-wrapper input[type="email"] {
  display: block;
  outline: none;
  color: #413a3a;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 1.5em;
  width: 100%;
  height: 3.3em;
  border: 1px solid rgba(206, 151, 151, 0.7);
  border-radius: 2.5em;
  background-color: transparent;
}

.container-wrapper .container .left .input-wrapper input[type="email"]:focus + label,
.container-wrapper .container .left .input-wrapper input[type="email"]:valid + label {
  color: #413a3a;
  -webkit-transform: translate(-2em, -3.5em);
          transform: translate(-2em, -3.5em);
}

.container-wrapper .container .left .input-wrapper input[type="email"].error {
  border-width: 2px;
  border-color: #f96262;
}

.container-wrapper .container .left .input-wrapper img {
  position: absolute;
  top: 50%;
  right: 5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

@media screen and (min-width: 500px) {
  .container-wrapper .container .left .input-wrapper img {
    right: 7em;
  }
}

.container-wrapper .container .left .input-wrapper img.error {
  opacity: 1;
}

.container-wrapper .container .left .input-wrapper input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.1rem;
  height: 3.3em;
  width: 3.3em;
  border: none;
  outline: none;
  color: white;
  border-radius: 2.5em;
  background: url("/images/icon-arrow.svg") center no-repeat, linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

@media screen and (min-width: 500px) {
  .container-wrapper .container .left .input-wrapper input[type="submit"] {
    width: 5.8em;
  }
}

.container-wrapper .container .left .input-wrapper input[type="submit"]:hover, .container-wrapper .container .left .input-wrapper input[type="submit"]:focus {
  -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container-wrapper .container .left .input-wrapper label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2em;
  pointer-events: none;
  color: rgba(206, 151, 151, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.attribution {
  padding: 0 0.5em;
}
/*# sourceMappingURL=main.css.map */